header {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  background-color: #4b5c77;
  color: #fff;
  padding: 12px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  padding: 12px;
  font-size: 1.2rem;
}

.selected {
  color: #99bdf6;
  text-decoration: underline;
}
