* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.App > div {
  width: 30%;
}

.result {
  display: flex;
  justify-content: flex-end;
  background-color: #858693;
  color: white;
  padding: 1rem;
}

.row {
  list-style: none;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #d5d5d5;
}

.row > li {
  flex: 25%;
  display: flex;
  border-right: 1px solid #d5d5d5;
}

.equalBtn > button {
  background-color: #f5913e !important;
  border-right: 0 !important;
}

.row > li > button {
  display: flex;
  flex: 100%;
  justify-content: center;
  padding: 12px;
  background-color: #e0e0e0;
  color: black;
  border: 0;
  cursor: pointer;
  transition: background-color 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.equalBtn > button:active {
  background-color: #804c22 !important;
}

.row > li > button:active {
  background-color: #858484;
}

.row > li:nth-child(4) > button {
  background-color: #f5913e !important;
  border-right: 0 !important;
}

.row > li:nth-child(4) > button:active {
  background-color: #804c22 !important;
}

.zero {
  flex: 50% !important;
}
