* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.App > div {
  width: 30%;
}

.result {
  display: flex;
  justify-content: flex-end;
  background-color: #858693;
  color: white;
  padding: 1rem;
}

.row {
  list-style: none;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #d5d5d5;
}

.row > li {
  display: flex;
  flex: 25%;
  justify-content: center;
  padding: 12px;
  background-color: #e0e0e0;
  color: black;
  border-right: 1px solid #d5d5d5;
}

.row > li:nth-child(4),
.equalBtn {
  background-color: #f5913e !important;
  border-right: 0 !important;
}

.zero {
  flex: 50% !important;
}
